@import '../style/App.scss';

.meme-card {
    position: relative;

    &__img {
        width: 100%;
        height: 20rem;
        display: block; // usuniecie "bialej spacji pod zdjeciem"

        &--AmericanChopperArgument,
        &--BoardroomMeetingSuggestion,
        &--ExpandingBrain,
        &--FindingNeverland,
        &--InhalingSeagull,
        &--MarvelCivilWar1,
        &--PanikKalmPanik,
        &--PeterParkerCry {
            object-fit: cover;

            @media only screen and (max-width: $bp-small) {
                height: 40rem;
            }
        }

        &--lengthAdapted {
            height: 30rem;

            @media only screen and (max-width: $bp-small) {
                height: 20rem;
            }
        }
    }

    &:hover &__overlay {
        opacity: 1;
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        //top 0, bottom 0, left 0, right - to tak jakby height ma byc 100% width 100%, ma zajmowac wszystko, czyli ten overlay niech zajmie cala powierzchnie obrazka
        //https://stackoverflow.com/questions/28080910/what-does-top-0-left-0-bottom-0-right-0-mean
        /*         height: 100%;
        width: 100%; */
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0.664);
        border: .3rem solid red;

        &:hover {

            &::after,
            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            &::after,
            &::before {
                content: "";
                margin: -1rem;
                box-shadow: inset 0 0 0 .3rem white;
                animation: movingBorder 4s linear infinite;
            }

            &::before {
                animation-delay: -2s;
            }

        }
    }

    &__text {
        color: white;
        font-size: 2rem;
        font-family: 'Fondamento', cursive;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


@keyframes movingBorder {


    0%,
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    }

    25% {
        clip-path: polygon(0 0, 1% 0, 1% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0% 100%);
    }

    75% {
        clip-path: polygon(99% 0, 100% 0, 100% 100%, 99% 100%);

    }
}