.meme-card {
    //border: .2rem solid white;
    position: relative;
    /* transition: .5s ease-in-out; */
    //height: 100%;

    &__img {
        width: 100%;
        //height: 100%;
        //height: 25rem;
        //height: 27rem;
        height: 20rem;
        //object-fit: cover;
        display: block; // usuniecie "bialej spacji pod zdjeciem"
        //fill contain, cover, none, scale-down

        &--AmericanChopperArgument,
        &--BoardroomMeetingSuggestion,
        &--ExpandingBrain,
        &--FindingNeverland,
        &--InhalingSeagull,
        &--MarvelCivilWar1,
        &--PanikKalmPanik,
        &--PeterParkerCry {
            object-fit: cover;

            @media only screen and (max-width: 530px) {
                height: 40rem;
            }
        }

        &--lengthAdapted {
            height: 30rem;

            @media only screen and (max-width: 530px) {
                height: 20rem;
            }
        }
    }

    &:hover &__overlay {
        opacity: 1;
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        //top 0, bottom 0, left 0, right - to tak jakby height ma byc 100% width 100%, ma zajmowac wszystko, czyli ten overlay niech zajmie cala powierzchnie obrazka
        //https://stackoverflow.com/questions/28080910/what-does-top-0-left-0-bottom-0-right-0-mean
        /*         height: 100%;
        width: 100%; */
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0.664);
    }

    &__text {
        color: white;
        font-size: 2rem;
        font-family: 'Fondamento', cursive;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.664);
}

.meme-card:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
} */